:root{
  // screen sizes
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  // other properties
  --ra-blue: #0d6efd;
  --ra-link-color: #3960bf;
  --ra-font-sans-serf: "Euclid Fireball", "Source Sans Pro", "Open Sans", "Helvetica Neue", "Helvetica, Arial", "sans-serif";
  --ra-font-monospace: "SFMono-Regular", "Menlo, Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
  --ra-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --ra-body-font-family: "__graphik_639b95', '__graphik_Fallback_639b95', Helvetica Neue, Helvetica, Arial, sans-serif";
  --ra-body-font-size: 1rem;
  --ra-body-font-weight: 400;
  --ra-body-line-height: 1.5;
  --ra-body-color: #101f41;
  --ra-body-color-rgb: 16, 31, 65;
  --ra-body-bg: #f5efe9;
  --ra-body-bg-rgb: 245, 239, 233;
  --ra-emphasis-color: #000;
  --ra-emphasis-color-rgb: 0, 0, 0;
  --ra-secondary-color: rgba(16, 31, 65, 0.75);
  --ra-secondary-color-rgb: 16, 31, 65;
  --ra-secondary-bg: #e9ecef;
  --ra-tertiary-bg: #f8f9fa;

  --ra-code-color: #d63384;
  --ra-highlight-color: #101f41;
  --ra-highlight-bg: #fff3cd;
  --ra-border-width: 1px;
  --ra-border-style: solid;
  --ra-border-color: #dbddee;

  --ra-major-xl-max-size: 4.1875rem;
  --ra-major-md-max-size: 3.1875rem;
  --ra-major-lg-max-size: 3.5rem;
  --ra-major-sm-max-size: 2.1875rem;



}

*, *::before, *::after {
 box-sizing: border-box;
}
body{
  margin: 0;
  font-family: var(--ra-body-font-family);
  font-size: var(--ra-body-font-size);
  font-weight: var(--ra-body-font-weight);
  line-height: var(--ra-body-line-height);
  color: var(--ra-body-color);
  background-color: var(--ra-body-bg);
}
.raNav {
  padding: 0px;
  margin: 0;
  display: flex;
  align-items: center;
  // max-width: 1400px;
  color: var(--ra-link-color);
}
.raNav .brand{
  margin-left: 5px;
  color: var(--ra-code-color);
}
.raNav .links {
  margin-left: auto;
}
.raNav .links a {
  margin-right: 15px;
  color: var(--ra-code-color);
}

.raNav .links a:hover {
  margin-right: 15px;
  color: var(--ra-blue)
}


.container .ra-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--ra-major-xl-max-size);
  padding-top: 12%;
  
}
.container .ra-hero .text-container{
  max-width: 700px;
  margin-top: 25px;
  font-size: 1.5rem;
  color: var(--ra-code-color);
}
.container .ra-hero h1{
  font-size: var(--ra-major-3xl-max-size);
  
}
@media (min-width: 0px) {
  .page {
    max-width: 430px;
    margin: 0 auto;
  }

  .container .ra-hero h1{
    font-size: var(--ra-major-sm-max-size);
  }
 
}
@media (min-width: 576px) {
  .page {
    max-width: 476px;
    margin: 0 auto;
  }

  .container .ra-hero h1{
    font-size: var(--ra-major-sm-max-size);
  }

}

@media (min-width: 767px) {
  .page {
    max-width: 676px;
    margin: 0 auto;
  }
  .container .ra-hero h1{
    font-size: var(--ra-major-md-max-size);
  }
}

@media (min-width: 992px) {
  .page {
    max-width: 892px;
    margin: 0 auto;
  }
  .container .ra-hero h1{
    font-size: var(--ra-major-lg-max-size);
  }
}
@media (min-width: 1200px) {
  .page {
    max-width: 1100px;
    margin: 0 auto;
  }
  .container .ra-hero h1{
    font-size: var(--ra-major-3xl-max-size);
  }
}
@media (max-width: 768px) {

  .container .ra-hero{
    padding-top: 45%;
  }
}

@media (min-width: 1400px) {
  .page {
    max-width: 1300px;
    margin: 0 auto;
  }
}
