.invalid-feedbackk{
display: inline;
color: red !important;
}
.form-input{
    margin-bottom: 12px;
}
.invalid-feedback{
    font-size: small;
    
}
.error-mssg{
    margin-bottom: 2rem;
}
.invalid-feedback{
    margin-bottom: 2rem;
}